PabloLin_DAW1/Ejercicio2/Ejercicio2DTD.dtd

    <!ELEMENT liga_baloncesto (Jugador*)>
    <!ELEMENT Jugador (nombre, apellido, equipo, edad)>
    <!ELEMENT equipo (presidente)>
    <!ATTLIST equipo ciudad CDATA #REQUIRED>
    <!ELEMENT presidente (nombrePresidente, apellidoPresidente)>
    <!ELEMENT nombrePresidente (#PCDATA)>
    <!ELEMENT apellidoPresidente (#PCDATA)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT apellido (#PCDATA)>
    <!ELEMENT edad (#PCDATA)>

